body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
label, .radio {
  display: block;
  margin:30px 0 10px 0;
}
input {
  font-size: 1.2rem;
  padding: 10px;
  /*border: 2px solid black;
  border-radius: 4px;
  background: #ccc;*/
}
button { 
  font-size: 2rem;
  padding: 10px 20px;
  display: block;
  margin-top: 30px;
  background-color: #caf;
  border: none;
  color: #217;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox, .radio{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}
.checkbox label, .radio label{
  margin: 0px;
  display: inline-block;
}

.checkbox input, .radio input{
  margin: 0px;
  width: 20px;
  height: 20px;
}
select{
  font-size: 1.2rem;
  padding: 10px;
}
textarea{
  font-size: 1.2rem;
}